*{
      box-sizing: border-box;
      margin: 0px;
      border: 0px;
}
.container-box{
      display: flex;
      position: relative;
      justify-content: center;

      /* background-color: aqua; */
      width: 85%;
      margin: 10px auto auto 7%;
      height: 85vh;
}
.container{
      border: 5px solid aqua;
      width: 100%;
      background-color: #E8E8E8	;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 20px;
}
.topbox{
      height: 45%;
      /* border-bottom: 2px solid aqua; */
}
.butonpara{
      margin: 2% 5% 5% 3%;
      display: flex;
      justify-content: space-around;
}
.butonpara input{
      background: rgba(196, 220, 247, 0.78);
      border: .2px solid rgb(160, 160, 160);
      width: 120%;
      height: 22px;
      border-radius: 7px;
      position: relative;
}
.butonpara p{
      /* margin-bottom: 10px; */
      position: relative;
      text-transform: capitalize;
      margin-left: 2%;
      margin-bottom: 10px;
      font-size: 1.1rem;
}
.botombox{
      height: 50%;
      position: relative;
      display: flex;

      justify-content: space-around;
}
.butonsub{
      height: 10%;
      align-items: center;
      justify-content: center;
      text-align: center;
}
.butonsub button{
      width: 100px;
      height: 30px;
      margin: auto 20px auto 20px;
      border: none;
      background-color: black;
      color: white;
      border-radius: 10px;
}
.listdata{
      position: relative;
      width: 38%;
}
#ds {
      justify-content: space-between;
      display: flex;
      font-size:1.1rem;
      margin: 30px auto auto auto;
      
}
#ds1{
      width: 30%;
      position: relative;
}
#ds2{
      width: 50%;
      position: relative;
}
input{
      background: rgba(196, 220, 247, 0.78);
      border: .2px solid rgb(160, 160, 160);
      width: 130%;
      height: 22px;
      border-radius: 7px;
      position: relative
}
.heading{
      width: 100%;
      text-align: center;

      text-transform: capitalize;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-radius: 10px;
}
.heading2{
      width: 100%;
      text-align: center;
margin-top: 20px;
      text-transform: capitalize;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-radius: 10px;
}
.skills{
      display: flex;
      height: 100%;
      position: relative;
      flex-direction: column;
      
      justify-content: space-around;
}
.skills input{
      background: rgba(196, 220, 247, 0.78);
      border: .2px solid rgb(160, 160, 160);
      width: 140%;
      height: 22px;
      border-radius: 7px;
      position: relative
}
.skilist{
      display: flex;
      justify-content: space-around;
}